html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    font-family: 'Prata', serif;
    font-size: 2.2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Prata', serif;
    font-weight: normal;
}

h1 {
    font-size: 15rem;
    margin: 0;
}

h1 + p {
    font-size: 1.8rem;
}

h2 {
    font-size: 10rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3.2rem;
    color: #16736e;
    background-color: #75e3dd;
    display: inline-block;
    margin: 0;
    padding: 0.4rem;
}

a {
    letter-spacing: 0.2rem;
    color: #16736e;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;

}

ul li {
    font-size: 1.6rem;
}

p {
    line-height: 145%;
    font-size: 1.6rem;
}

.works h3 {
    color: #16736e;
}

.my-team h3 {
    color: #306fbf;
    margin: 0 0 7rem 0;
    line-height: 100%;
}

.works {
    color: #16736e
}

.works h2 {
    color: #41ccc4;
}

.my-team h2 {
    color: #003170;
}

.img-margin {
    margin-bottom: 2rem;
}

.contact h2 {
    color: #f3747b;
}

.navigation {
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin: 0 1.5rem;
    color: black;
}

.left-col,
.right-col {
    color: #fff;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col {
    background-color: cornflowerblue;
}

.right-col {
    background-color: coral;
}

.top-container {
    width: 50%;
    margin: 0 auto;
}

.scroll {
    color: #2864b1;
    text-align: center;
}

.works {
    color: #16736e;
}

.works-img {
    position: relative;
    width: 100%;
}

.works h4 {
    position: absolute;
    z-index: 1;
    top: -0.25rem;
}

.works h4.right-aligned {
    right: 0;
}

.extra-gutters {
    padding: 0 6rem;
}

.right-aligned {
    text-align: right;
}

img {
    max-width: 100%;
}

footer {
    background-color: #f4979c;
    min-height: 22rem;
    background-image: url('../img/socialmedia.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.social-icon {
    height: 6rem;
    margin: 1rem 2rem;
}

.social-icons-container {
    text-align: center;
}