html {
    height: 100%;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

footer {
    background-color: #f4979c;
}

.social-icon {
    height: 60px;
    margin: 10px 20px;
}

.social-icons-container {
    text-align: center;
}